.main {
    width: 80%;
    height: auto;
    background: #FFFFFF;
    /*также подумать - цвет оставляет этот только main или body тоже*/
    margin: auto;
    padding-bottom: 120px;
}

.main .contact-wrraper {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.main .contact-wrraper .contacts {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .contact-wrraper .map {
    border: 1px solid black;
    width: 100%;
    max-width: 655px;
    height: auto;
    max-height: 500px;
    overflow: hidden;
}

.main h1 {
    margin: 63px 0 0 0;
    height: 128px;
    width: 338px;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    line-height: 64px;
}

.main p {
    margin: 0;
    width: 280px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.main a.phone {
    margin: 0;
    /* height: 46px; */
    width: 280px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
}

.main a.email {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 300;
    color: #333333;
    text-decoration: none;
}

.main a.button {
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 222px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    padding: 30px 0 30px 0;
}