@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.wrapper {
    /*общий контейнер для того, чтобы задать структуру страницы и для того, чтобы футер был прибит к низу страницы, даже если содержания совсем мало*/
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(102px, auto) 1fr minmax(417px, auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/*==HEADER================================================================*/
.header {
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 400px) minmax(auto, 720px) minmax(auto, 50px) 1fr;
    grid-template-areas:
        ". header__logo header__menu header__burger .";
    position: fixed;
    overflow: hidden;
    width: 100%;
    min-height: 105px;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.header__logo {
    grid-area: header__logo;
    width: 100px;
    padding-top: 12.5px;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.header__menu {
    grid-area: header__menu;
    overflow: auto;
}

.header__list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    justify-content: space-between;
    padding-inline-start: 0px;
    position: relative;
    z-index: 3;
}

.header__link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 85%;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline overline;
}

.header__burger {
    grid-area: header__burger;
    margin-right: 40px;
    align-self: center;
}

@media screen and (max-width:1023px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        min-height: 65px;
        width: 100%;
    }

    .header.active {
        position: fixed;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-top: 0px;
        z-index: 3;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #333333;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: #000000;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: #000000;
    }

    .header__burger span {
        position: absolute;
        background-color: #333333;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #Ffffff;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header__menu.active {
        top: 0;
    }

    .header__logo {
        padding-top: 15px;
    }

    .header__list {
        display: block;
        text-align: center;
        padding-top: 108px;
    }

    .header__list li {
        margin: 0px 0px 60px 0px;
    }

    .header__link {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
        text-align: center;
    }

}


/*==СЕКЦИЯ MAIN - ОСНОВНАЯ СТРАНИЦА ================================================================*/
.main {
    grid-area: main;
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro"
        "about"
        "focus"
        "projects"
        "contact-form";
}

/* Всё, что касается первого блока INTRO */
.intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
    grid-template-areas:
        ". intro__block .";
    margin-bottom: 120px;
}

.intro__block {
    grid-area: intro__block;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.intro__image {
    background-image: url('/assets/images/main_page/main_image.png');
    height: 829px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 60px;
}

.button {
    background-color: white;
    border: none;
    font-size: 12px;
    font-weight: 200;
    color: #333333;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 85%;
    padding: 30px 47px;
    justify-self: right;
}

.button a {
    text-decoration: none;
    color: #333333;
}

.button_black {
    background-color: #333333;
    border: none;
    font-size: 12px;
    font-weight: 200;
    color: #fffdfd;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 85%;
    padding: 30px 47px;
    justify-self: right;
}

.button_black a {
    text-decoration: none;
    color: #fffdfd;
}

.button__shape {
    padding-left: 15px;
}


.intro__description {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}

.intro__title {
    align-self: end;
    padding-left: 15px;
    font-size: 64px;
}

.intro__title_gray {
    color: #9e9d9d;
    font-weight: 300;
    font-size: 64px;

}

.intro__slide {
    align-self: center;
    padding-left: 15px;
}

.intro__numbers {
    align-self: start;
}

.numbers {
    display: flex;
    color: #E0E0E0;
}

.numbers__line {
    margin-left: 30px;
    margin-right: 30px;
}

/* Конец INTRO */


/* Блок ABOUT */
.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
    grid-template-areas: ". about__block .";
    margin-bottom: 120px;
}

.about__block {
    width: 100%;
    grid-area: about__block;
    display: flex;
    background-color: #FBFBFB;
    padding-top: 30px;
}

.about__image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    grid-template-areas:
        "column_first column_third"
        "column_second column_third";
    margin-left: 100px;
    height: 465px;
}

.about__column_first {
    grid-area: column_first;
    width: 100%;
}

.about__column_second {
    grid-area: column_second;
    width: 100%;
}

.about__column_third {
    grid-area: column_third;
    width: 100%;
    margin-top: 30px;
}

.about__column_image {
    width: 100%;
}

.about__title {
    color: #9e9d9d;
    /* font-weight: 300;
    font-size: 64px; */
}

.about__text {
    width: 100%;
    height: 200px;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

.about__description {
    width: 100%;
    margin-left: 30px;
}

/* Конец ABOUT */

/* Блок FOCUS*/
.subtitle {
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 85%;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
    margin-top: 0px;
    margin-bottom: 60px;
}

.focus {
    grid-area: focus;
    display: grid;
    margin-bottom: 120px;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1170px) minmax(1rem, 1fr);
    grid-template-areas:
        ". focus_subtitle ."
        ". focus__container .";

}

.focus_subtitle {
    grid-area: focus_subtitle;
}

.focus__container {
    grid-area: focus__container;
    display: grid;
    grid-template: 1fr / 10.5% 37.5% 14.5% 37.5%;
    align-items: stretch;
}


.focus__number_1 {
    grid-area: 1/1/2/2;
}

.focus_text_1 {
    grid-area: 1/2/2/3;
}

.focus__number_2 {
    grid-area: 1/3/2/4;
}

.focus_text_2 {
    grid-area: 1/4/2/5;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
}

.number {
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: 70%;
    text-align: center;
    color: #F2F2F2;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    text-align: left;
    font-weight: 300;
    color: #BDBDBD;
}

/* Конец FOCUS*/

/* Блок PROJECTS*/
.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1170px) minmax(1rem, 1fr);
    grid-template-areas:
        ". projects_subtitle ."
        ". projects_presentation ."
        ". projects_button .";
    margin-bottom: 120px;
}

.projects_subtitle {
    grid-area: projects_subtitle;
}

.projects_presentation {
    grid-area: projects_presentation;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(12, minmax(60px, 1fr));
    grid-template-rows: repeat (2, 1fr);
}

.projects__card_one {
    grid-area: 1/1/2/7;
}

.projects__card_two {
    grid-area: 1/7/2/13;
}

.projects__card_three {
    grid-area: 2/1/3/4;
}

.projects__card_four {
    grid-area: 2/4/3/9;
}

.projects__card_five {
    grid-area: 2/9/3/13;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.card_image {}

.card_info {}

.card:hover .card_info {}

/****/

.card {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    height: 100%;
}

.card__info {
    background: rgba(51, 51, 51, 0.8);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 30px 10px 30px;
}

.card__info h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.card__info a {
    text-decoration: none;
}

.card__info p {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFF;
}

.card:hover .card__info {
    transform: translateX(0);
}

.card:hover img {
    transition: all 0.3s ease-out;
}

.card:hover img {
    transform: scale(1.2, 1.2);
}

/****/

.projects_button {
    grid-area: projects_button;
    margin-top: 30px;
}

/* Конец PROJECTS*/

/* Блок CONTACT-FORM*/
.contact-form {
    grid-area: contact-form;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 391px) minmax(auto, 30px) minmax(auto, 749px) minmax(1rem, 1fr);
    grid-template-areas:
        ". contact-form__subtitle contact-form__subtitle contact-form__subtitle ."
        ". contact-form__inputs . contact-form__image ."
        ". contact-form__inputs . . .";
    margin-bottom: 120px;
}

.contact-form__subtitle {
    grid-area: contact-form__subtitle;
    margin-bottom: 20px;
}

.contact-form__inputs {
    grid-area: contact-form__inputs;
}

.contact-form__image {
    grid-area: contact-form__image;
    overflow: hidden;
}

.contact-form__image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.contact-form__button {
    grid-area: contact-form__button;
    justify-self: start;
}

.contact-input {
    background-color: #F3F3F3;
    border: none;
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 21px;
    padding-right: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.contact-input_big {
    background-color: #F3F3F3;
    border: none;
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 21px;
    resize: none;
    box-sizing: border-box;
}

.contact-form__privacy {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #333333;
    margin-top: 21px;
    margin-bottom: 21px;
}

.contact-form__button {
    background-color: #333333;
    border: none;
    font-size: 12px;
    font-weight: 200;
    color: #fffdfd;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 85%;
    padding: 30px 47px;
    justify-self: start;
}

/* Конец CONTACT-FORM*/

/* блок FOOTER*/


.footer {
    justify-self: center;
    width: 100%;
    color: white;
    background-color: #2C2C2C;
    padding-top: 58px;
    padding-bottom: 130px;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 350px) minmax(auto, 240px) minmax(auto, 400px) minmax(auto, 450px) 1fr;
    grid-template-areas:
        ". logo information contacts social .";
}

.footer__logo {
    justify-self: center;
    grid-area: logo;
}

.footer__image {
    width: 145px;
    height: 94px;
}

.footer__information {
    grid-area: information;
    font-size: 16px;
    font-weight: 700;
}


.footer__column {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 190px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.footer__contacts {
    grid-area: contacts;
    font-size: 16px;
    font-weight: 700;
}

.footer__communications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    height: 190px;
}

.footer__items {
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.footer__contacts-icon {
    margin-right: 19px;
}

.footer__social {
    grid-area: social;
    font-size: 16px;
    font-weight: 700;
}

.footer__networks-icon {
    margin-right: 45px;
    margin-top: 25px;
}


@media screen and (max-width: 1023px) {

    .footer {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(auto, 510px) minmax(auto, 513px);
        grid-template-areas:
            "contacts social";
    }

    .footer__contacts {
        justify-self: center;
    }

    .footer__social {
        justify-self: center;
    }

    .footer__logo {
        display: none;
    }

    .footer__information {
        display: none;
    }
}


/* конец FOOTER */



/* ==GALLERY===============================================================*/

.main-gallery {
    grid-area: main;
}

.gallery__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: "gallery__title"
        "gallery__photo"
        "gallery__slide";
}

.gallery__title {
    grid-area: "gallery__title";
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 148px;
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}

.gallery__title_gray {
    font-weight: 300;
    color: #BDBDBD;
}

.gallery__photo {
    grid-area: "gallery__photo";
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 30px;
    /* max-height: 550px; */
    padding-top: 30px;
    /* padding-bottom: 10px; */
    border-top: 1px solid rgba(242, 242, 242, 1);
}


.photo {
    width: 210px;
    height: 260px;
}

.gallery__slide {
    grid-area: "gallery__slide";
    display: flex;
    align-items: center;
    height: 230px;
}

.gallery__number {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(189, 189, 189, 1);
}

.number_active {
    color: #333333;
}

.gallery_button {
    margin: 10px;
}

.gallery__numbers {
    margin-right: 20px;
}

/* Сброс стилей кнопки */
.btn-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* Стили для кнопок-стрелочек */
.arrow {
    width: 53px;
    height: 53px;
    width: 19px;
    height: 8px;
    color: #333333;
    padding: 22px 17px;
    border: 1px solid #F3F3F3;

}

.arrow:active {
    background-color: #F9F9F9;
}

/* Кликабельные ссылки телефона и мейла */
.footer__contacts-link {
    color: #F3F3F3;
    text-decoration: none;
}

/* == Конец Gallery=================================================== */

/* == Начало Certifications page====================================== */

.main-certifications {
    grid-area: main;
}

.certifications__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}

.certifications__title_gray {
    font-weight: 300;
    color: #BDBDBD;
}

.certifications__numbers {
    margin-right: 20px;
}

.certifications__slide {
    grid-area: "gallery__slide";
    display: flex;
    align-items: center;
    height: 230px;
}


/* == Конец Certifications page ====================================== */

/* == Начало Project1 ================================================ */

.main-project1 {
    grid-area: main;
}

/* ==Конец Project1 ================================================== */